.item {
  width: calc(100% / 4);
  background-color: #f8fdff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.label,
.percentage {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
.percentage {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
}
